{% extends "./main.html" %}

{% block style %}
<style>
  body {
    overflow: hidden;
  }

  .slider {
    height: 100vh;
    width: fit-content;
    line-height: 100vh;
    font-size: 75vh;
    white-space: nowrap;
  }

  .slider.active {
    animation: slide 10s ease-in-out infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    25% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% { 
      transform: translateX(-100%);
      opacity: 1;
    }
  }
</style>
{% endblock %}
{% block javascript %}
<script>

  document.addEventListener("DOMContentLoaded", function() {
    setInterval(function() {
      Array.prototype.slice.call(document.querySelectorAll('.slider')).forEach(function(el) {
        if(el.getBoundingClientRect().width < window.innerWidth) {
          el.classList.remove("active");
        } else {
          el.classList.add("active");
        }
      });
    })
  });

</script>
{% endblock javascript %}

{% block title %}{% endblock %}
{% block content %}{% endblock %}
